
mnist/MNIST_data/t10k-images-idx3-ubyte.gz
mnist/MNIST_data/t10k-labels-idx1-ubyte.gz
mnist/MNIST_data/train-images-idx3-ubyte.gz
mnist/MNIST_data/train-labels-idx1-ubyte.gz
mnist/logs/with_BN/events.out.tfevents.1507730367.RYAN-DESKTOP
mnist/logs/without_BN/events.out.tfevents.1507730586.RYAN-DESKTOP

*.index

*.meta

*.data-00000-of-00001
double_dueling_DQN_FlappyBird/model/checkpoint
*.RYAN-DESKTOP
*.jpg
*.png
Gradient_penalty_wgan/tfModel/checkpoint
